@tailwind base;
@tailwind components;
@tailwind utilities;


.song-container{
    display: flex;
    justify-content: center;
}

.word{
    display: flex;
    justify-content: center;
}

.buttons{
    margin-top: -35px;
}

header{
    margin-bottom: -40px;
}

.date{
    float: right;
}

.button-play{
    font-size: 35px;
}

